body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#brand {
    font-size: 420%;
    margin: 0;
    position: relative;
    left: 2vw;
    top: 9vh;
    font-weight: 100;
    max-width: 40%;;
}

#navLinks {
    display: flex;
    flex-direction: row;
    font-size: 140%;
    width: 20vw;
    position: relative;
    left: 35vw;
    top: 1vh;
    list-style-type: none;
}

a.navLink {
    color: #707070;
    margin-left: 2vw;
    text-decoration: none;
}

.navLink :hover {
    color: rgb(207, 0, 193)
}

hr.titleBar {
    height: 2vh;
    background-color: rgb(207, 0, 193);
    margin:0 2vw 0 2vw;
    border-radius: 10px;
    width: 70%;
}

#blurb {
    max-width: 60%;
    margin: 10vh 0 0 7vw;
    font-size: 210%;
}

#sidebarWrapper {
    float: right;
    margin-right: 2vw;
    width: 20vw;
    height: 60vh;
    text-align: center;
}

#sidebarWrapper h6 {
    margin: 4vh auto auto auto;
}

#sidebarWrapper h3 {
    font-weight: 100;
    font-size: 220%;
    position: relative;
    top: 8vh;
}

#sidebarLinks {
    height: 55vh;
    width: 20vw;
    background-color: rgb(151, 151, 151);
    position: relative;
    top: 7vh;
    border-radius: 7px;
    text-transform: uppercase;
    margin-top: 3vh;
    padding-top: 1vh;
}

a.sidebarLink {
    color: white;
    text-decoration: none;
    margin-right: 2vw;
}

a.sidebarLink:hover {
    color: rgb(168, 0, 157);
}

.sidebarTitle {
    font-size: 120%;
    color: black;
}

.sidebarList {
    list-style-type: none;
    font-size: 120%;
}

#infoContent {
    max-width: 65vw;
    margin: 5vw 5vw 5vw 5vw;
}

.infoBox {
    max-width: 100%;
    margin: 5vh 0 15vh 0;
}

.infoBox h2 {
    text-align: right;
    margin-right: 3vw;
    font-size: 240%;
    font-weight: 400;
    text-transform: uppercase
}

.infoBox p {
    width: 80%;
    margin: auto;
    
}

.codeBlock {
    background-color: rgb(44, 44, 44);
    color: white;
    min-height: 15vh;
    max-height: 50vh;
    width: 60vw;
    font-size: 140%;
    margin: auto auto 3vh auto;
    padding: 5px 0 5px 15px;
    border-radius: 10px;
}

footer {
    color: white;
    position: fixed;
    background-color: rgb(32, 32, 32, .9);
    bottom: 0;
    height: 12vh;
    width: 100%;
    padding-left: 1vw;
}

code {
    color: rgb(247, 247, 247);
}

.blueCode {
    color: rgb(64, 131, 255)
}

.greenCode {
    color: rgb(0, 207, 128);
}

.string {
    color: rgb(255, 169, 89)
}